<mat-card class="h-full flex flex-col">
  <mat-card-header>
    <div class="flex justify-between w-full">
      <h1>
        {{(stockData | async).ticker}} | {{(stockData | async).longName}}
      </h1>
      <button mat-raised-button color="accent" class="w-40" (click)="addToPortfolio()" mat-dialog-close>Add Stock</button>
    </div>
  </mat-card-header>
  <mat-card-content class="overflow-auto">
    <div class="flex w-full justify-around gap-2 flex-col md:flex-row">
    <!-- left side -->
    <mat-card class="w-full min-w-[50%] p-2">
      <h2>Company Summary</h2>
      {{(stockData | async).summary}} 
    </mat-card>
    <!-- right side -->
    <mat-card class="w-full min-w-[50%]">
      <app-stock-chart [data]="(stockData | async).ticker"></app-stock-chart>
    </mat-card>
    </div>
    <br>
  </mat-card-content>
</mat-card>
