<mat-card class="my-card h-full flex flex-col">
  <mat-card-header>
    <h1>
      AAPL
    </h1>
  </mat-card-header>
  <mat-card-content class="flex-1">
    Apple Inc. (Apple) designs, manufactures and markets smartphones, personal computers, tablets, wearables and accessories and sells a range of related services. The Company's products include iPhone, Mac, iPad, AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch and accessories.
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions class="justify-end items-end">
      <button mat-raised-button color="accent" class="w-40">Add Stock</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>
